*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #e7e7e7;
    color: #36363c;
    width: 100%;
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}